$colors: (
  primary: #43425d,
  bg-light: #f5f6fa,
  bgTableRow: rgba(245, 246, 250, 0.4),
  border-light: #f1f1f3,
  white1: #ffffff,
  red1: #ff0031,
  navy1: #4d4f5c,
  grayLighten1: rgba(77, 79, 92, 0.5),
);

@function colors($key) {
  @return map-get($colors, $key);
}