$colors: (
  primary: #43425d,
  agree: #43425d,
  bgPrimary: rgba(245, 246, 250, 0.7),
  bgLight: #f5f6fa,
  bgTableRow: rgba(245, 246, 250, 0.4),
  borderLight: #f1f1f3,
  white1: #ffffff,
  red1: #ff0031,
  navy1: #4d4f5c,
  grayLighten1: rgba(77, 79, 92, 0.5),
  grayLighten2: #a3a6b4,
  grayLighten3: #d4d5d9,
);

@function colors($key) {
  @return map-get($colors, $key);
}
