$colors: (
  primary: #43425d,
  bgLight: #f5f6fa,
  borderLight: #f1f1f3,
  formBorder: #e9e9f0,
  white1: #ffffff,
  red1: #ff0031,
  navy1: #4d4f5c,
  grayLighten1: rgba(77, 79, 92, 0.5),
);

@function colors($key) {
  @return map-get($colors, $key);
}
