.main-wrapper {
  width: 100%;
  margin: auto;
  padding: 40px;

  @import "../../base/reset";
  @import "../../setting/colors";
  @import "../../module/page-title";
  @import "../../module/table/status-table";
  @import "../../module/table/todo";
  @import "../../module/table/project";
  @import "../../module/table/task";
}
