.main-wrapper {
  width: 100%;
  margin: auto;
  padding: 40px;

  @import "../../base/reset";
  @import "../../module/page-title";
  @import "../../module/table/status-table";
  @import "../../module/table/todo";
  @import "../../module/table/project";
  @import "../../module/table/task";

  .status-container {
    margin: 0;
  }
  .navbar-container {
    background-color: #f5f6fa;
    margin-bottom: 0px;
  }
}
