@import "../../base/reset";
@import "../../module/page-title";
@import "../../module/table/status-table";
@import "../../module/table/todo";
@import "../../module/table/project";
@import "../../module/table/task";
@import "../../setting/colors";

.main-wrapper {
  width: 100%;
  margin: auto;
  padding: 40px;

  .status-container {
    margin: 0;

    .navbar-container {
      margin: 0;
      border-radius: 2px;
      border: solid 1px colors(bgLight);
      background-color: colors(bgPrimary);
    }

    .detail-container {
      border-radius: 2px;
      border: solid 1px colors(bgLight);
      background-color: colors(bgPrimary);
    }
  }
}
