.non-notification {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 40px;

  p {
    color: #ccc;
  }
}

.unreaded {
  border-left: 4px solid #ff0031;
}

.notification-btn {
  text-decoration: none;
}

.notification-icon-badge {
  padding: 0;
}

.text {
  margin: 0 0 10px;
}

.date {
  margin: 0;
  color: #a3a6b4;
}
