@import "./button";

@mixin negative-btn($width: 64px, $height: 32px, $px: 16px, $py: 8px, $fontSize: 16px) {
  @extend .button;
  min-width: $width;
  height: $height;
  padding-top: $py;
  padding-right: $px;
  padding-bottom: $py;
  padding-left: $px;
  font-size: $fontSize;
  line-height: $height - $py * 2 - 4px;
  background-color: colors(white1);
  color: colors(primary);
  border: 2px solid colors(primary);

  &:hover {
    color: colors(primary);
  }
}
