.main__container {
  width:100%;
  margin: auto;
  font-size:14px;
  background-color: #F0F0F7;
  padding:40px;
  &__wrapper {
    .page-title-container {
      margin-bottom: 24px;
      &__page-title {
        font-size: 28px;
        font-weight: bold;
        color: #43425D;
      }
    }
  }
}

.head-container {
  margin-bottom: 24px;
  display:flex;
  justify-content: space-between;
  &__wrapper{
    width: 24%
  }
}

.head-container__wrapper {
  &__item-container {
      &__wrapper {
          height: 80px;
          background-color: #ffffff;
          display: flex;
          justify-content: space-between;
          vertical-align: middle;
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
          border-radius: 4px;
          &__icon-container {
              padding: 20px 3px 20px 10px;
              .icon-imgbox{
                width: 38px;
              }
              .icon {
                  font-size:24px;
                  width:40px;
                  height:40px;
              }
          }
          &__content-container {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              &__wrapper {
                font-weight: bold;
                margin-top: 5px;
                font-family: 'Source Sans Pro';
                  &__text {
                      text-align: center;
                      font-size: 11px;
                  }
                  &__number {
                    text-align: center;
                    font-size: 24px;
                    font-weight: 500;
                }
              }
          }
          &__create-container {
              padding: 28px 9px 28px 3px;
              margin-left: auto;
              &__create {
                  text-align: center;
                  line-height: 24px;
                  cursor: pointer;
                  font-weight: bold;
                  height: 24px;
                  width: 53px;
                  border-radius: 25px;
                  background-color: #43425d;
                  a{
                    font-size: 12px;
                    color: #fff;
                  }
              }
          }
      }
  }
}

.main-container {
  background: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 20px;
  margin-top: 60px;
  &__wrapper {
    // &__table-container {
    //   padding-bottom: 24px;
    // }
  }
}
.page-title-container {
  &__page-title {
    font-size: 16px;
  }
}
.item-name-wrapper {
  width: 100%;
  padding-bottom: 20px;
  &__item-name {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Source Sans Pro';
    color: #4D4F5C;
  }
}
.icon-item-name-wrpper{
  display: flex;
  align-items: center;
  .icon-imgbox{
    width: 38px;
  }
  .item-name-wrapper__item-name{
    padding-left: 10px;
  }
}

.document-table {
  height: 120px;
  width: 100%;
  table-layout: fixed;
  &__head-row {
    height: 40px;
    &__table-header {
      background-color: #f5f6fa;
      color: #A3A6B4;
      text-align: center !important;
      line-height: 40px;
      font-size: 12px;
      font-weight: bold;
    }
    &__table-header.icon-th{
      width: 110px;
    }
  }
  &__data-row {
    height: 80px;
    border-bottom: 1px solid #f1f1f3;
    &__table-data {
      font-family: 'Source Sans Pro';
      text-align: center !important;
      line-height: 80px;
      font-size: 14px;
      color: #4D4F5C;
      .icon-imgbox{
        width: 38px;
        margin: 0 auto;
      }
    }
    &__table-data.doc-title{
      font-weight: bold;
    }
  }
}

.invoice-table {
  height: 120px;
  width: 100%;
  table-layout: fixed;
  &__head-row {
    height: 40px;
    &__table-header {
      background-color: #f5f6fa;
      color: #A3A6B4;
      text-align: center !important;
      line-height: 40px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__data-row {
    height: 80px;
    border-bottom: 1px solid #f1f1f3;
    color: #4D4F5C;
    font-family: "Source Sans Pro";
    &__table-data {
      vertical-align: middle;
      text-align: center !important;
      font-size: 16px;
      &__create-container {
        padding: 20px 0;
        &__create {
          height: 24px;
          width: 56px;
          border-radius: 25px;
          background-color: #43425d;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #ffffff;
            font-weight: bold;
            font-size: 12px;
          }
        }
      }
    }
    &__table-data.task-data{
      font-weight: bold;
    }
    &__table-data.staff-data{
      .imgbox{
        width: 31px;
        margin: 0 auto;
      }
      .name{
        font-size: 12px;
        margin-top: 3px;
      }
    }
  }
}
.order-table {
  height: 120px;
  width: 100%;
  table-layout: fixed;
  &__head-row {
    height: 40px;
    &__table-header {
      background-color: #f5f6fa;
      color: #A3A6B4;
      text-align: center !important;
      line-height: 40px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__data-row {
    height: 80px;
    border-bottom: 1px solid #f1f1f3;
    color: #4D4F5C;
    font-family: "Source Sans Pro";
    &__table-data {
      vertical-align: middle;
      text-align: center !important;
      font-size: 16px;
      &__create-container {
        padding: 20px 0;
        &__create {
          height: 24px;
          width: 56px;
          border-radius: 25px;
          background-color: #43425d;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #ffffff;
            font-weight: bold;
            font-size: 12px;
          }
        }
      }
    }
    &__table-data.task-data{
      font-weight: bold;
    }
    &__table-data.staff-data{
      .imgbox{
        width: 31px;
        margin: 0 auto;
      }
      .name{
        font-size: 12px;
        margin-top: 3px;
      }
    }
  }
}
.outsourcing-table {
  height: 120px;
  width: 100%;
  table-layout: fixed;
  &__head-row {
    height: 40px;
    &__table-header {
      background-color: #f5f6fa;
      color: #A3A6B4;
      text-align: center !important;
      line-height: 40px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__data-row {
    height: 80px;
    border-bottom: 1px solid #f1f1f3;
    color: #4D4F5C;
    font-family: "Source Sans Pro";
    &__table-data {
      vertical-align: middle;
      text-align: center !important;
      font-size: 16px;
      &__create-container {
        padding: 20px 0;
        &__create {
          height: 24px;
          width: 56px;
          border-radius: 25px;
          background-color: #43425d;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #ffffff;
            font-weight: bold;
            font-size: 12px;
          }
        }
      }
    }
    &__table-data.task-data{
      font-weight: bold;
    }
    &__table-data.staff-data{
      .imgbox{
        width: 31px;
        margin: 0 auto;
      }
      .name{
        font-size: 12px;
        margin-top: 3px;
      }
    }
  }
}

.nda-table {
  height: 120px;
  width: 100%;
  table-layout: fixed;
  &__head-row {
    height: 40px;
    &__table-header {
      background-color: #f5f6fa;
      color: #A3A6B4;
      text-align: center !important;
      line-height: 40px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__data-row {
    height: 80px;
    border-bottom: 1px solid #f1f1f3;
    color: #4D4F5C;
    font-family: "Source Sans Pro";
    &__table-data {
      vertical-align: middle;
      text-align: center !important;
      font-size: 16px;
      &__create-container {
        padding: 20px 0;
        &__create {
          height: 24px;
          width: 56px;
          border-radius: 25px;
          background-color: #43425d;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #ffffff;
            font-weight: bold;
            font-size: 12px;
          }
        }
      }
    }
    &__table-data.task-data{
      font-weight: bold;
    }
    &__table-data.staff-data{
      .imgbox{
        width: 31px;
        margin: 0 auto;
      }
      .name{
        font-size: 12px;
        margin-top: 3px;
      }
    }
  }
}
.more-container {
  &__wrapper {
    text-align: center;
    padding: 30px 0 10px;
    &__showmore {
      color: #43425D;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      width: 65px;
      margin: 0 auto;
    }
    &__showmore:after{
      content: "";
      width: 10px;
      height: 10px;
      border: 0px;
      border-bottom: solid 1px #43425D;
      border-right: solid 1px #43425D;
      transform: rotate(45deg);
      position: absolute;
      top: 1px;
      right: -18px;
    }
  }
}
.sidebar__container__wrapper .menu__container--label{
  display: block;
  .menu-label{
    padding-top: 20px;
  }
}