.notification-container {
  width: 100%;
  padding: 20px 20px 40px;
  margin-bottom: 30px;

  .title-container {
    margin-bottom: 16px;

    h4 {
      font-size: 16px;
      color: #43425d;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .radio-container {
    margin-bottom: 30px;
    padding-bottom:30px;
    border-bottom:1px solid #F1F1F3;
    .item-wrp{
      padding: 0 15px;

    }

    .text {
      font-size: 16px;
      color: #43425d;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .text.approval{
      margin-bottom: 15px;
    }
    .text.income{
      margin-bottom: 5px;
    }
    .text.remind{
      margin-bottom: 12px;
    }

    .sub-text-title{
      font-size: 16px;
      margin-bottom: 0;
    }

    .sub-text {
      font-size: 16px;
      color: #43425d;
    }

    input {
      display: none;
    }

    input + label {
      padding-left: 43px;
      position: relative;
      margin-right: 20px;
      margin-bottom: 0;
    }

    input + label::before{
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 0;
      width: 32px;
      height: 32px;
      border: 1px solid #E9E9F0;
      border-radius: 50%;
    }
    
    input:checked + label::after{
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 8px;
      width: 16px;
      height: 16px;
      background: #00CC47;
      border-radius: 50%;
    }

    .left-btn {
      margin-right: 20px;
    }

    .date-container{
      margin-top: 20px;

      &__wrapper{
        display: flex;
        align-items: flex-end;
        .select{
          select{
            border-color: #E9E9F0;
            border-radius: 2px;
            margin: 0 7px;
            width: 55px;
            &:after{
              border: 3px solid #A4AFB7;
              border-radius: 2px;
              border-right: 0;
              border-top: 0;
              content: " ";
              display: block;
              height: .625em;
              margin-top: -.4375em;
              pointer-events: none;
              position: absolute;
              top: 50%;
              right: 1.125em;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              -webkit-transform-origin: center;
              transform-origin: center;
              width: .625em;
            }
          }
        }
      }
      
      &__list{
        font-size: 14px;
        padding: 8px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #F7F7FD;
        border-radius: 4px;
        width: 80%;
        color: #43425D;
        &__item-container{
          display: flex;
          margin-right: 30px;
          .item{
            margin-right: 8px;
          }
        }
      }
    }
  }
  .last-container{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.document-container{
  padding: 0 15px;
  .document-item{
    display: flex;
    align-items: center;
    .radio-container{
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
      p {
        margin-bottom: 8px;
      }
      input + label{
        margin-right: 50px;
      }
      .left-btn{
        margin-right: 60px;
      }
    }
    .imgbox{
      width: 127px;
    }
  }
  .purchase{
    margin-bottom: 30px;
  }
}

.doc-container{
  margin-bottom: 30px;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #A4AFB7;
  right: 13px;
  z-index: 4;
}