.main__container {
    &__wrapper {
        width:100%;
        font-size:14px;
        background-color: #F0F0F7;
        padding:40px;
    }
}

// 共通部分
.page-title-container {
    margin-bottom:24px;
    &__page-title {
        font-size: 28px;
        font-family: 'Source Sans Pro';
        font-weight: bold;
    }
}
.item-name-wrapper {
    width: 100%;
    padding: 16px 0;
    &__item-name {
        font-size: 14px;
        color: #43425D;
    }
}
// select
.select-container {
    &__wrapper {
        width: 100%;
        &__select {
            border-color: #E9E9F0;
            width: 100%;
            height: 48px;
            border-radius: 2px;
        }
        &__select:hover {
            border-color: #E9E9F0;
        }
    }
}

// 作成日
.date-container{
    &__wrapper{
        font-size: 18px;
        color: #4D4F5C;
        font-family: "Source Sans Pro";
        display: flex;
        .icon-imgbox{
            width: 16px;
            margin-left: 16px;
            margin-top: 1px;
            img{
                vertical-align: baseline;
            }
        }
    }
}

// 業務委託内容
.input-container{
    &__wrapper{
        input{
            box-shadow: none;
            border-radius: 2px;
            border: 1px solid #E9E9F0;
            height: 48px;
        }
    }
}

.main-container{
    &__wrapper {
        padding: 0 16px;
        background-color: #ffffff;
        margin-bottom: 30px;
        border-radius: 4px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
        dl{
            display: flex;
            justify-content: left;
            align-items: center;
            margin-bottom: 0;
            padding: 30px 0 0;
            dt{
                width: 160px;
                text-align: right;
                padding-right: 30px;
                color: #43425D;
            }
            dd{
                width: 67%;
                margin-bottom: 0;
            }
        }
        dl.last{
            padding-bottom: 30px;
        }
    }
}

