.main__container {
    background-color: #F0F0F7;
    font-size: 14px;
    &__wrapper {
        width:100%;
        padding: 35px 40px 40px 65px;
    }
}

// 共通部分
.page-title-container {
    padding: 24px 0;
    &__page-title {
        font-size: 28px;
        font-weight: bold;
        font-family: "Source Sans Pro";
        color: #43425D;
    }
}
.item-name-wrapper {
    width: 100%;
    padding: 16px 0;
    &__item-name {
        font-size: 14px;
        color: #43425D;
    }
}

// select
.select-container {
    margin-bottom: 16px;
    &__wrapper {
        width: 100%;
        &__select {

            width: 100%;
            border-color: #3B86FF;
        }
        &__select:hover {
            border-color: #3B86FF;
        }
    }
}
// input
.input-container {
    margin-bottom: 16px;
    &__control input {
        border: 0;
        border-radius: 0;
        border-bottom: 3px solid #3B86FF;
        caret-color: #3B86FF;
    }
}
.main-container {
    margin-bottom: 30px;
    &__wrapper {
        &__pdf-container {
            padding: 24px;
            &__pdf {
                height: 560px;
                background-color: whitesmoke;
                border: 1px solid #43425D;
            }
        }
    }
}
.submit-btn-container {
    text-align: center;
    &__button {
        height: 40px;
        width: 140px;
        background-color: #43425D;
        border-radius: 100px;
        color: #ffffff;
        font-weight: bold;
        font-size: 18px;
    }
    &__button:hover{
        color: #fff;
        text-decoration: none;
    }
}

.outsourcing-container {
    &__wrapper {
        .pdf-container {
            margin:auto;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
            &__pdf {
                background-color: #ffffff;
                padding: 100px 50px;
                &__contract-type{
                    text-align: center;
                    font-size:30px;
                    color: #43425D;
                    letter-spacing: 0.3em;
                    margin-bottom: 50px;
                }
                &__main{
                    font-size: 12px;
                    &__Paragraph{
                        margin-top:24px;
                    }
                }
            }
        }
        .date{
            margin-bottom: 0;
            margin-top: 48px;
        }
        dl{
            display: flex;
            margin-bottom: 0;
            margin-top: 24px;
            dt{
                width: 30px;
                font-weight: 500;
            }
            dd{
                margin-bottom: 0;
            }
        }
    }
}
// 全文表示ボタン
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
    position: relative;
    label {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 110px;
        cursor: pointer;
        text-align: center;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 90%);
        margin: 0;
        &:after {
            line-height: 32px;
            position: absolute;
            z-index: 2;
            bottom: 20px;
            left: 50%;
            width: 112px;
            content: '全文表示';
            transform: translate(-50%, 0);
            color: #43425D;
            border-radius: 100px;
            background-color: #ffffff;
            border: 2px solid #43425D;
            font-weight: 700;
        }
    }
    input {
        display: none;
        &:checked + label {
            background: inherit; 
        }
        &:checked + label:after {
            font-family: FontAwesome;
            content: '閉じる';
        }
        &:checked ~ .cp_container {
            height: auto;
            padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
            transition: all 0.5s;
        }
    }
    .cp_container {
        overflow: hidden;
        height: 460px; 
        transition: all 0.5s;
    }
}