.main-wrapper {
	width: 100%;
	margin: auto;
	padding: 40px;

	.title-container {

		h3 {
			font-weight: bold;
    		font-size: 28px;
    		font-family: 'Source Sans Pro';
			color: #43425d;
			margin-bottom: 0;
		}
	}

	.alert-container {
		width: 100%;
		background-color: #fff;
		display: flex;
		position: relative;
		padding: 8px;
		margin-top: 26px;
		border-radius: 4px;
    	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

		.icon-container {
			width: 4%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.project-alert-container {
			width: 48%;
			text-align: center;

			p {
				margin-bottom: 12px;
			}

			.alert-text {
				color: #f14d1c;
				font-weight: bold;
			}
		}

		.task-alert-container {
			width: 48%;
			text-align: center;

			p {
				margin-bottom: 12px;
			}

			.alert-text {
				color: #f14d1c;
				font-weight: bold;
			}
		}
	}

	.alert-container:before {
		content: '';
		position: absolute;
		top: 4px;
		left: 0;
		right: 0;
		bottom: 4px;
		width: 1px;
		height: 64px;
		margin: auto;
		background-color: #aaa;
	}

	.incomplete-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 26px;
		margin-bottom: 62px;

		.section-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 31%;
			background-color: #fff;
			padding: 16px;
			border-radius: 4px;
    		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

			.icon-imgbox {
				width: 38px;
				
			}

			.text-container {
				width: 64%;
				text-align: center;
				color: #43425D;

				h4 {
					font-size: 13px;
					font-weight: bold;
					margin-bottom: 0px;
				}

				p {
					font-size: 24px;
					font-family: 'Source Sans Pro';
					margin-bottom: 0;
				}
			}

			.btn-container {
				width: 18%;
				display: flex;
				align-items: center;
				justify-content: center;

				button {
					border-color: #43425d;
					background-color: #43425d;
					border-radius: 40px;
					color: #fff;
					font-size: 8px;
					padding: 2px 8px;
					font-weight: bold;
					width: 48px;
				}
			}
		}
	}

	.project-container {
		width: 100%;
		background-color: #fff;
		padding: 24px 24px 0;
		margin-bottom: 60px;
		border-radius: 4px;
    	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

		.title-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 24px;

			h4 {
				font-size: 18px;
				color: #43425d;
				font-weight: bold;
				margin-bottom: 0;
			}
			.btn-container{
				a {
					background-color: #43425d;
					border-color: #43425d;
					border-radius: 40px;
					color: #fff;
					font-size: 11px;
					padding: 8px 10px;
					font-weight: bold;
					width: 112px;
					text-decoration: none;
				}
			}
		}

		table {
			width: 100%;
			margin: auto;

			thead {
				background-color: #F5F6FA;
				padding: 12px;

				th {
					color: #A3A6B4;
					padding: 12px;
					font-size: 12px;
					text-align: center;
					width: 14%;
				}
			}

			tbody {
				color: #4D4F5C;
				font-family: 'Source Sans Pro';
				tr {
					border-bottom: 1px solid #F1F1F3;
					
					a:visited {
						color: #4D4F5C;
					}

					td {
						padding: 12px;
						font-size: 12px;
						text-align: center;
						vertical-align: middle;
						.imgbox{
							width: 31px;
							margin: 0 auto;
						}

						img {
							border-radius: 50%;
							margin-bottom: 4px;
						}

						p {
							margin-bottom: 0;
						}
						.underline{
							text-decoration: underline;
						}
					}

					.project_name {
						font-weight: bold;
					}
				}
			}
		}

		.more-container__wrapper {
			text-align: center;
			padding: 30px 0 30px;
			&__showmore{
				color: #43425D;
				font-size: 13px;
				font-weight: bold;
				cursor: pointer;
				position: relative;
				width: 65px;
				margin: 0 auto;
			}
			&__showmore:after{
				content: "";
				width: 10px;
				height: 10px;
				border: 0px;
				border-bottom: solid 1px #43425D;
				border-right: solid 1px #43425D;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				position: absolute;
				top: 1px;
				right: -18px;
			}
		}
		
	}

	.taskStatus-container {
		width: 100%;
		background-color: #fff;
		padding: 24px;
		margin-bottom: 60px;
		border-radius: 4px;
    	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

		.title-container {
			margin-bottom: 30px;

			h4 {
				font-size: 16px;
				color: #43425d;
				font-weight: bold;
				margin-bottom: 0;
			}
		}

		.section-container {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.status-card {
				width: 10%;
				border-right: 1px solid #E9E9F0;

				p {
					text-align: center;
					color: #43425d;
				}
	
				.key {
					font-size: 13px;
					color: #C0BFD5;
					font-weight: bold;
					margin-bottom: 10px;
				}
	
				.value {
					font-size: 24px;
    				font-family: 'Source Sans Pro';
				}
			}

			.status-card:last-child {
				border-right: none;
			}
		}
	}

	.task-container {
		width: 100%;
		background-color: #fff;
		padding: 24px 24px 0;
		margin-bottom: 60px;
		border-radius: 4px;
    	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

		.title-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 24px;

			h4 {
				font-size: 18px;
				color: #43425d;
				font-weight: bold;
				margin-bottom: 0;
			}
			.btn-container{
				a {
					background-color: #43425d;
					border-color: #43425d;
					border-radius: 40px;
					color: #fff;
					font-size: 11px;
					padding: 8px 10px;
					font-weight: bold;
					width: 112px;
					text-decoration: none;
				}
			}
		}

		table {
			width: 100%;
			margin: auto;

			thead {
				background-color: #F5F6FA;
				padding: 12px;

				th {
					color: #A3A6B4;
					padding: 12px;
					font-size: 12px;
					text-align: center;
					width: 20%;
				}
			}

			tbody {
				color: #4D4F5C;
				font-family: 'Source Sans Pro';

				a:visited {
					color: #4D4F5C;
				}
				tr {
					border-bottom: 1px solid #F1F1F3;

					td {
						padding: 12px;
						font-size: 14px;
						text-align: center;
						vertical-align: middle;

						p {
							margin-bottom: 0;
						}
					}
					td.partner{
						.imgbox{
							width: 31px;
							margin: 0 auto;
						}

						img {
							border-radius: 50%;
							margin-bottom: 4px;
						}
						p{
							font-size: 12px;
						}

					}

					.project_name {
						font-weight: bold;
					}
				}
			}
		}

		.more-container__wrapper {
			text-align: center;
			padding: 30px 0 30px;
			&__showmore{
				color: #43425D;
				font-size: 13px;
				font-weight: bold;
				cursor: pointer;
				position: relative;
				width: 65px;
				margin: 0 auto;
			}
			&__showmore:after{
				content: "";
				width: 10px;
				height: 10px;
				border: 0px;
				border-bottom: solid 1px #43425D;
				border-right: solid 1px #43425D;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				position: absolute;
				top: 1px;
				right: -18px;
			}
		}
	}
}

// ステータス色分け
.done{
	color: #00CE47;
	font-weight: bold;
	margin-bottom: 0;
}
.cancel{
	color: #FF0031;
	font-weight: bold;
	margin-bottom: 0;
}
.default {
	color: #7B7A9A;
	font-weight: bold;
	margin-bottom: 0;
}
