.main-wrapper {
    width: 100%;
    margin: auto;
    padding: 40px;

    .title-container {
        h3 {
            font-weight: bold;
            font-size: 28px;
            font-family: "Source Sans Pro";
            color: #43425d;
            margin-bottom: 0;
        }
    }

    .table-container {
        width: 100%;
        background-color: #fff;
        padding: 24px 24px 0;
        margin-top: 26px;
        margin-bottom: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

        .title-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            h4 {
                font-size: 18px;
                color: #43425d;
                font-weight: bold;
                margin-bottom: 0;
            }
            .btn-a-container {
                a {
                    font-size: 11px;
                    padding: 8px 10px;
                    width: 112px;
                }
            }
        }

        table {
            width: 100%;
            margin: auto;

            thead {
                background-color: #f5f6fa;
                padding: 12px;

                th {
                    color: #a3a6b4;
                    padding: 12px;
                    font-size: 12px;
                    text-align: center;
                    width: 14%;
                }
            }

            tbody {
                color: #4d4f5c;
                font-family: "Source Sans Pro";
                tr {
                    border-bottom: 1px solid #f1f1f3;

                    td {
                        padding: 12px;
                        font-size: 12px;
                        text-align: center;
                        vertical-align: middle;
                        .imgbox {
                            width: 31px;
                            height: 31px;
                            margin: 0 auto;
                        }

                        img {
                            border-radius: 50%;
                            width: 31px;
                            height: 31px;
                            object-fit: cover;
                            margin-bottom: 4px;
                        }

                        p {
                            margin-bottom: 0;
                        }
                        a {
                            color: #43425d;
                            text-decoration: underline;
                        }
                    }

                    .project_name {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .taskStatus-container {
        width: 100%;
        background-color: #fff;
        padding: 24px;
        margin-bottom: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

        .title-container {
            margin-bottom: 30px;

            h4 {
                font-size: 16px;
                color: #43425d;
                font-weight: bold;
                margin-bottom: 0;
            }
        }

        .section-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .status-card {
                width: 10%;
                border-right: 1px solid #e9e9f0;

                p {
                    text-align: center;
                    color: #43425d;
                }

                .key {
                    font-size: 13px;
                    color: #c0bfd5;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .value {
                    font-size: 24px;
                    font-family: "Source Sans Pro";
                }
            }

            .status-card:last-child {
                border-right: none;
            }
        }
    }
    .task-container table thead th {
        width: 20%;
    }
    .task-container table tbody tr {
        td {
            font-size: 14px;
        }
        td.partner p {
            font-size: 12px;
        }
    }
}

.more-container__wrapper {
    text-align: center;
    padding: 30px 0 30px;
    .showmore {
        color: #43425d;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        width: 65px;
        margin: 0 auto;
    }
    .showmore:after {
        content: "";
        width: 10px;
        height: 10px;
        border: 0px;
        border-bottom: solid 1px #43425d;
        border-right: solid 1px #43425d;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 1px;
        right: -18px;
    }
}

// リスト内のステータス名表示
.status {
    height: 40px;
    width: 120px;
    border-radius: 25px;
    margin: auto;
    padding: 11px 0;
    font-weight: bold;
    color: #7b7a9a;
    .color01 {
        color: #7b7a9a;
    }
    .color02 {
        color: #43425d;
    }
    .color03 {
        color: #ff0031;
    }
}
