header {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px 40px 8px 20px;
  position: fixed;
  height: 70px;
  width: 82%;
  left: 18%;
  z-index: 1000;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.04);
  font-family: 'Source Sans Pro';
  nav.navbar {
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;

    .icon-wrp{
      display: flex;
      align-items: center;
      margin-bottom: 0;

      .not{
        width: 19px;
        margin-top: -7px;
      }
    }
    .header-proflie{
      display: flex;
      align-items: center;
      padding-left: 12px;
      margin-left: 12px;
      border-left: 1px solid #EBEBF2;
      .user-name{
        color: #4D4F5C;
        font-size: 13px;
        font-weight: 400;
      }
      .icon-imgbox{
        width: 11px;
        margin: 0 14px 0 6px;
        cursor: pointer;
      }
      
      .user-imgbox{
        display: inline-block;
        width: 32px;
        height: 32px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid #E9E9F0;
        img{
          position: absolute;
          top: -100%;
          bottom: -100%;
          margin: auto;
        }
      }
    }
    .navbar__item--logo {
      font-size: 24px;
      letter-spacing: 5px;
      color: #03A1EB;
    }
    .buttons__btn--login {
      border: 1px solid #03A1EB;
      background-color: #03A1EB;
      color: white;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.option{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 12px;
}

.optionBox {
  display: none;
  position: absolute;
  top: 70px;
}
.balloon{
  position: relative;
  top: -20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #E9E9F0;
  border-radius: 4px;
  width: 155px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.04);
  &::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 92px;
    top: -15px;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #E9E9F0;
    border-left: 10px solid transparent;
  }
  &::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 92px;
    top: -13px;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    border-left: 10px solid transparent;
  }
  ul{
    margin-bottom: 0;
    li{
      font-size: 13px;
      margin-bottom: 13px;
      a{
        color: #43425D;
      }
      a:hover{
        text-decoration: none;
      }
      button{
        background: none;
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
        font-weight: 600;
        color: #43425D;
      }
    }
    li:last-child{
      margin-bottom: 0;
    }
  }
}
