.main__container {
	&__wrapper {
		margin:auto;
		width:100%;
		font-size:14px;
		background-color: #F0F0F7;
		padding:40px;

		.top-container {
			display: flex;
			justify-content: space-between;
			&__title {
				font-size: 28px;
				font-weight: bold;
				font-family: 'Source Sans Pro';
				margin-top: 7px;
				color: #43425D;
			}
			.serch-wrp{
				.search-project {
					width: 540px;
					height: 45px;
					box-shadow: none;
					border-color: #ffffff;
					padding-left: 58px;
				}
				span{
					width: 16px;
					left: 32px;
					top: 9px;
					position: absolute;
				}
			}
			.project-wrp{
				margin-top: 5px;
				.button {
					background-color: #43425D;
					font-weight: bold;
					border-radius:100px;
					padding: 10px 12px;
					color:#fff;
					font-size: 12px;
					height: 40px;
				}
				.button:hover {
					opacity: 0.8;
					transition: 0.3s;
				}

			}
			
			
		}         
	}
	ul.tab-button{
		border-bottom: 1px solid #43425D;
		margin-top: 60px;
		margin-bottom: 86px;
		li{
			display: inline-block;
			&.all{
				border-bottom: 4px solid #43425D;
				padding: 0 32px 16px;
				a{
					font-weight: bold;
				}
			}
			&.done{
				padding: 0 32px 16px;
			}
			a{
				color: #43425D;
				font-size: 16px;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.project-container{
		margin-top:32px;
		padding:20px 16px 0 16px;
		background-color: #fff;
		&__item{
			// margin-top:16px;
			&__list{
				height:48px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				background-color:#F5F6FA;
				li{
					text-align: center;
					width: 140px;
					font-size: 12px;
					font-weight: bold;
					color:#A3A6B4;
				}
			}    
		}
		&__content{
			&__list{
				height:96px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				border-bottom: 1px solid #F1F1F3;
				color: #212529; 
				p{
					margin-bottom:0;
				}
				li{
					text-align: center;
					width: 140px;
					font-size: 12px;
					color: #4D4F5C;
					.photoimgbox{
						width: 31px;
						margin: 0 auto 3px;
					}            
				}
				&__name{
					font-weight: bold;
					font-size: 14px !important;
				}
			}
			&__list:hover{
				background-color: #F1F1F3;
			}
			.show-link{
				text-decoration: none;   
			}
			&__showmore{
				padding:30px 0;
				&__btn{
					text-align: center;
					cursor: pointer;
					font-weight: bold;
					margin-bottom: 0;
					position: relative;
					a{
						color: #43425D;
					}
					span{
						margin-left: 1px;
						position: absolute;
						top: -3px;
					}
				}
			}
		}
		ul{
			margin-bottom:0;
		}
	}
}
.txt-underline{
	text-decoration: underline;
}