.main__container__wrapper {
    margin: auto;
    width: 100%;
    font-size: 14px;
    background-color: #f0f0f7;
    padding: 40px;
}
.top-container {
    display: flex;
    justify-content: space-between;
    &__title {
        font-size: 28px;
        font-weight: bold;
        font-family: "Source Sans Pro";
        margin-top: 7px;
        color: #43425d;
    }
    .serch-wrp {
        .search-project {
            width: 540px;
            height: 45px;
            box-shadow: none;
            border-color: #ffffff;
            padding-left: 58px;
        }
        span {
            width: 16px;
            left: 32px;
            top: 9px;
            position: absolute;
        }
    }
    .btn-a-container {
        margin-top: 5px;
        a {
            font-weight: bold;
            padding: 10px 12px;
            font-size: 12px;
            display: block;
        }
    }
}
ul.tab-button {
    border-bottom: 1px solid #43425d;
    margin-top: 60px;
    margin-bottom: 86px;
    li {
        display: inline-block;
        &.isActive {
            border-bottom: 4px solid #43425d;
            a {
                color: #43425d;
                font-weight: bold;
            }
        }
        a {
            color: #7b7a9a;
            font-size: 16px;
            display: block;
            padding: 0 32px 16px;
            width: 100%;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.project-container {
    margin-top: 32px;
    padding: 20px 16px 0 16px;
    background-color: #fff;
    .item_list {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #f5f6fa;
        li {
            text-align: center;
            width: 140px;
            font-size: 12px;
            font-weight: bold;
            color: #a3a6b4;
        }
    }
    .content_list {
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #f1f1f3;
        color: #212529;
        p {
            margin-bottom: 0;
        }
        li {
            text-align: center;
            width: 140px;
            font-size: 12px;
            color: #4d4f5c;
            .photoimgbox {
                margin: 0 auto;
                display: inline-block;
                width: 32px;
                height: 32px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                border: 1px solid #e9e9f0;

                img {
                    border-radius: 50%;
                }
            }
        }
        .project-name {
            font-weight: bold;
            font-size: 14px !important;
        }
    }
    .content_list:hover {
        background-color: #f1f1f3;
    }
    ul {
        margin-bottom: 0;
    }
}
.show-link {
    text-decoration: none;
}
.showmore-wrp {
    padding: 30px 0;
    .showmore__btn {
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 0;
        position: relative;
        a {
            color: #43425d;
        }
        span {
            margin-left: 1px;
            position: absolute;
            top: -1px;
            width: 12px;
            height: 12px;
        }
    }
}
