.main-wrapper {
    width: 90%;
    margin: auto;
    padding: 40px;
  
    .complete-container {
      p {
        color: #09c221;
        font-weight: bold;
        font-size: 16px;
      }
    }
  
    .error-container {
      p {
        color: #e3342f;
        font-weight: bold;
        font-size: 16px;
      }
    }
    
    .title-container {
      margin-bottom: 40px;
  
      h3 {
        font-weight: bold;
        color: #43425d;
      }
    }
  
    .menu-container {
      margin-bottom: 64px;
  
      ul {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
  
        li {
          width: 25%;
          margin: auto;
          text-align: center;
  
          a {
            width: 100%;
            font-size: 12px;
            display: block;
            color: #aaa;
            padding-bottom: 4px;
            border-bottom: 1px solid #aaa;
            text-decoration: none;
          }
  
          a:hover {
            color: rgba(67, 66, 93, 0.7);
            font-weight: bold;
            border-bottom: 3px solid rgba(67, 66, 93, 0.7);
          }
  
          .isActive {
            color: #43425d!important;
            font-weight: bold!important;
            border-bottom: 3px solid #43425d!important;
          } 
        }
      }
    }
    
    .charge-container{
      background-color: #fff;
      padding: 48px;

      &__top-wrapper{
        .title-container{
          h3{
            font-size:18px;
          }
        }
      }

      &__item{
        background-color: #F5F6FA;

        ul{
          display: flex;
          justify-content: space-around;
          height :48px;
          margin-bottom: 0;
          
          li{
            width: 50%;
            color: #A3A6B4;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
          }
        }
      }
      &__content{
        &__list{
          display: flex;
          justify-content: space-around;
          height: 80px;
          margin-bottom: 0;
          border-bottom: 1px solid #F1F1F3; 

          li{
            width:50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .name-container{
              width:400px;
              display: flex;
              align-items: center;
              margin-left:160px;

              &__img-container{
                margin-right: 8px;

                .icon{
                  width:  40px;
                  height: 40px;
                  border-radius: 50%;
                  background-position: left top;
                  border: 1px solid #212529;
                }
              }
            }
          }
        }
        &__showmore{
          padding: 56px 0;

          &__btn{
            text-align: center;
            cursor: pointer;
            font-weight: bold;
          }
        }
      }
      .btn-container{
        text-align: center;

        a{
          background-color: #43425d;
          font-weight: bold;
          color: #fff;
          padding: 8px 40px;
          font-size: 16px;
          border-radius: 48px;
          outline: none;
          text-decoration: none;
        }

        a:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
    }
  }