@mixin input-style{
  width: 100%;
  outline-color: #ccdcf6;
  font-size: 16px;
  padding: 4px;
  border: 1px solid #E9E9F0;
  border-radius: 2px;
  height: 48px;
}
@mixin p-style{
  font-size: 15px;
  color: #43425d;
  font-weight: bold;
  font-family: 'Source Sans Pro';
}
.main-wrapper {
  width: 100%;
  margin: auto;
  padding: 40px;
  
  .title-container {
    margin-bottom: 40px;

    h3 {
      font-weight: bold;
      color: #43425d;
      font-size: 28px;
      margin-bottom: 0;
    }
  }

  .menu-container {
    margin-bottom: 40px;

    ul {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid #43425D;

      li {
        text-align: center;

        a {
          width: 100%;
          height: 39px;
          font-size: 16px;
          display: block;
          color: #7B7A9A;
          padding-bottom: 10px;
          text-decoration: none;
          padding: 0 30px;
        }

        a:hover {
          color: rgba(67, 66, 93, 0.7);
          font-weight: bold;
          border-bottom: 4px solid rgba(67, 66, 93, 0.7);
          opacity: 1;
        }

        .isActive {
          color: #43425d!important;
          font-weight: bold!important;
          border-bottom: 4px solid #43425d!important;
        } 
      }
    }
  }

  .profile-container {
    width: 100%;
    background-color: #fff;
    padding: 30px 40px;
    margin-bottom: 60px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    .title-container {
      margin-bottom: 30px;

      h4 {
        font-size: 16px;
        color: #43425d;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
    .yago-name-container{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;
      .yago-container{
        width: 45%;
        margin-right: 20px;
        p {
          @include p-style;
        }
        input {
          @include input-style;
        }
      }
      .name-container {
        width: 45%;
        margin-right: 20px;
        p {
          @include p-style;
        }
        input {
          @include input-style;
        }
      }
    }
    .above-address-container {
      display: flex;
      margin-bottom: 30px;

      .zipcode-container {
        width: 200px;
        margin-right: 20px;

        p {
          @include p-style;
        }
  
        input {
          @include input-style;
          width: 80%;
        }
        &__wrapper{
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          input{
            @include input-style;
            width: 80px;
            box-shadow: none;
          }
          .hyphen {
            display: -webkit-box;
            display: flex;
            max-height: 36px;
            margin: 0 10px;
            hr {
              margin-top: 1rem;
              margin-bottom: 1rem;
              width: 16px;
              border: 1px solid #43425D;
            }
          }
        }
      }

      .prefecture-container {
        width: 200px;

        p {
          @include p-style;
        }

        input {
          @include input-style;
          width: 80%;
        }
        .select-arrow {
          width: 100%;
          select {
            height: 46px;
          }
        }
      }
    }

    .below-address-container {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;

      .city-container {
        width: 45%;
        margin-right: 20px;

        p {
          @include p-style;
        }
  
        input {
          @include input-style;
        }
      }

      .building-container {
        width: 45%;
        margin-right: 20px;

        p {
          @include p-style;
        }
  
        input {
          @include input-style;
        }
      }
    }

    .tel-container {
      width: 45%;
      p {
        @include p-style;
      }

      input {
        @include input-style;
      }
      &__wrapper{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        input{
          @include input-style;
          box-shadow: none;
        }
      }
    }
  }

  .invoice-container {
    width: 100%;
    background-color: #fff;
    padding: 30px 40px;
    margin-bottom: 40px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    .title-container {
      margin-bottom: 30px;

      h4 {
        font-size: 16px;
        color: #43425d;
        font-weight: bold;
        margin-bottom: 0;
      }
    }

    .financial-container {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;

      .financialInstitution-container {
        width: 59%;
        margin-right: 30px;

        p {
          @include p-style;
        }
        input {
          @include input-style;
        }
      }

      .branch-container {
        width: 30%;

        p {
          @include p-style;
        }
  
        input {
          @include input-style;
        }
      }
    }

    .depositType-container {
        width: 150px;
        margin-bottom: 30px;
        p {
          @include p-style;
        }

        input {
          @include input-style;
          width: 80%;
        }
        .select-arrow {
          width: 100%;
          select {
            height: 46px;
          }
        }
      }

    .accountNumber-container{
      width: 50%;
      margin-bottom: 30px;

      p {
        @include p-style;
      }

      input {
        @include input-style;
      }
    }

    .accountHolder-container {
      width: 50%;
      margin-bottom: 30px;

      p {
        @include p-style;
      }

      input {
        @include input-style;
      }
    }

    .mark-container {
      width: 50%;

      .title {
        font-size: 16px;
        color: #43425d;
        font-weight: bold;
      }

      .caution {
        font-size: 12px;
      }

      .image-container {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        .imgbox{
          width: 140px;
        }

        label {
          border: 1px solid #43425d;
          border-radius: 48px;
          font-weight: bold;
          color: #43425d;
          padding: 4px 24px;
          font-size: 12px;
          background-color: transparent;
          margin-left: 20px;
          margin-bottom: 0;
          cursor: pointer;
          height: 24px;
        }

        label:hover {
          opacity: 0.7;
          transition: 0.3s;
        }

        .image-error_message {
          margin-left: 20px;
        }
      }

      .imprint-container {
        width: 140px;

        button {
          padding: 3px 20px;
          width: 126px;
          font-size: 12px;
        }
      }
    }
  }
  .btn01-container {
    button {
      font-size: 18px;
      font-family: 'Source Sans Pro';
      width: 140px;
    }
  }
}
