@import "../../setting/colors";
@import "../../mixin/font/font";

@mixin flex($alignItems: normal, $justifyContent: normal) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

.items-container {
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  margin: 0 0 36px;
  background-color: colors(white1);

  &__title {
    width: 100%;
    padding: 0 0 24px;
    border-bottom: solid 1px rgba(67, 66, 93, 0.06);

    &--text {
      @include font(18px, bold);
      color: colors(navy1);
    }
  }

  .item-container {
    width: 100%;
    padding: 24px 0;
    @include flex(center, space-between);
    border-bottom: solid 1px rgba(67, 66, 93, 0.06);

    &:first-child {
      padding: 0 0 24px;
    }

    &__left {
      width: 15%;
      @include flex(center, flex-end);
      @include font(16px, bold);
      color: colors(navy1);
    }

    &__right {
      width: 80%;
      @include flex(center, flex-start);
      @include font(16px);
      color: colors(navy1);

      &--user {
        @include flex(center, center);
        flex-direction: column;

        &--img {
          width: 31px;
          height: 31px;
          border-radius: 50%;
        }

        &--name {
          @include font(12px);
          color: colors(navy1);
        }
      }

      &--alert {
        @include font(16px, bold);
        margin-right: 12px;
        color: colors(red1);
      }
    }

    .date-line {
      @include flex(center);
      &:after {
        content: "";
        width: 24px;
        height: 1px;
        margin: 0 12px;
        background-color: colors(grayLighten3);
      }
    }
  }
}
