.main__container {
    width:100%;
    margin: auto;
    background-color: #F0F0F7;
    font-size: 14px;
    &__wrapper{
        padding:40px 40px;
    }
}

// 共通部分
.page-title-container {
    &__page-title {
        font-size: 28px;
        font-weight: bold;
        font-family: 'Source Sans Pro';
        color: #43425D;
        margin-bottom:26px;
    }
}
.item-name-wrapper {
    width: 22%;
    display: table;
    height: 48px;
    padding-right: 30px;
    &__item-name {
        margin-bottom:8px;
        vertical-align: middle;
        display: table-cell;
        color: #43425D;
        font-size: 15px;
        font-weight: bold;
        font-family: "Source Sans Pro";
        text-align: right;
        span.tax{
            font-size: 12px;
            margin-left: -5px;
        }
    }
    &__item-name.document{
        vertical-align: top;
    }
}
.item-name-wrapper.unitname{
    padding-right: 23px;
}


// セレクトボックス＋アイコン
.select-plusicon {
	overflow: hidden;
    text-align: center;
    position: relative;
	border: 1px solid #E9E9F0;
	border-radius: 2px;
    background: #ffffff;
    select {
        width: 100%;
        padding-right: 1em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
        padding: 8px 38px 8px 8px;
	    color: #666666;
    }
    select::-ms-expand {
        display: none;
    }
    &::before {
        position: absolute;
        top: 15px;
        right: 22px;
        width: 2px;
        height: 5px;
        padding: 0;
        content: "";
        border-top: 16px solid #A4AFB7;
        pointer-events: none;
    }
    &::after {
        position: absolute;
        top: 22px;
        right: 15px;
        width: 16px;
        height: 2px;
        padding: 0;
        content: "";
        border-top: 2px solid #A4AFB7;
        pointer-events: none;
    }
}

// タスク内容
.item-name-wrapper.contentsname{
    height: 120px;
}
// プロジェクト期間
.item-name-wrapper.period{
    height: 170px;
}

.item-name-wrapper.numbername{
    width: 100%;
    margin-left: 74px;
}

// プロジェクトを選択する エリア
.select-container {
    margin-bottom: 24px;
    &__wrapper {
        padding:22px 40px;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
        display: flex;
        &__textarea {
            display: table;
            height: 48px;
            padding-right: 10px;
            &__text {
                vertical-align: middle;
                display: table-cell;
                color: #43425D;
                font-size: 15px;
                font-weight: bold;
                font-family: 'Source Sans Pro';
            }
        }
        // セレクトエリア
        &__select-area.staff{
            width: 66%;
        }
        &__select-area {
            width: 70%;
            &__field {
                &__control {
                    &__select select {
                        width: 100%;
                        height: 48px;
                        border-radius: 2px;
                        border-color: #3B86FF;
                    }
                }
            }
        }
    }
}
.select.is-info select{
    border-color: #E9E9F0;
}
.select:not(.is-multiple){
    height: 48px;
    width: 100%;
}
.select.is-info:not(:hover)::after {
    border-color: #A4AFB7;
}
.select-error-wrp{
    width: 66%;
    .select-container__wrapper__select-area.control{
        width: 100%
    }
}
.form-control.is-invalid{
    border-color: #e9e9f0;
    background-image: none;
}
.main-container {
    width: 100%;
    margin-bottom: 60px;
    &__wrapper {
        background-color: #ffffff;
        padding:  40px 16px 1px;
        border-radius: 4px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
        &__item-container {
            margin-bottom: 30px;
            display: flex;
            // タスク名
            &__inputarea {
                width: 66%;
                &__field {
                    &__control input {
                        box-shadow: none;
                        border-radius: 2px;
                        border: 1px solid #E9E9F0;
                        height: 48px;
                    }
                }
            }
            // タスク作成日
            &__datewrapper{
                display: table;
                height: 48px;
                &__date{
                    vertical-align: middle;
                    display: table-cell;
                    font-size: 18px;
                    color: #4D4F5C;
                    font-family: 'Source Sans Pro';
                    i{
                        color: #A5A4BF;
                        padding-left: 16px;
                    }
                }
            }
            // タスク内容
            &__textarea {
                height: 120px;
                width: 66%;
            }
            &__textarea textarea {
                border-radius: 2px;
                border: 1px solid #E9E9F0;
                box-shadow: none;
                resize: none;
            }
            // 締め切り
            &__calendar-content {
                &__content{
                    display: block;
                    &__item-name-wrapper__item-name{
                        font-size: 18px;
                        margin-bottom: 3px;
                        i{
                            color: #A5A4BF;
                            padding-left: 26px;
                        }
                    }
                    &__item-name-wrapper__item-name.start{
                        padding-right: 180px;  
                    }
                }
                &__content.end{
                    margin-top: 12px;

                }
            }
            // プロジェクト期間
            .select-date-wrp{
                display: flex;
                align-items: center;
                // セレクトボックス 矢印アイコン
                .select-arrow {
                    overflow: hidden;
                    text-align: center;
                    position: relative;
                    border: 1px solid #e9e9f0;
                    border-radius: 2px;
                    background: #ffffff;
                    width: 53px;
                    margin-left: 10px;
                    margin-right: 5px;
                    select {
                        width: 100%;
                        height: 46px;
                        padding-right: 1em;
                        cursor: pointer;
                        text-indent: 0.01px;
                        text-overflow: ellipsis;
                        border: none;
                        outline: none;
                        background: transparent;
                        background-image: none;
                        box-shadow: none;
                        -webkit-appearance: none;
                        appearance: none;
                        padding: 8px 25px 8px 8px;
                        color: #666666;
                    }
                    select::-ms-expand {
                        display: none;
                    }
                    &::after {
                        right: 10px;
                        padding: 0;
                        border: 3px solid #94949400;
                        border-radius: 2px;
                        border-right: 0;
                        border-top: 0;
                        content: " ";
                        display: block;
                        height: 0.625em;
                        margin-top: -0.4375em;
                        pointer-events: none;
                        position: absolute;
                        top: 50%;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-transform-origin: center;
                        transform-origin: center;
                        width: 0.625em;
                        border-color: #a4afb7;
                    }
                }
                .select-arrow.year{
                    width: 80px;
                    margin-left: 0;
                }
            }
            
            // 予算
            &__inputarea__field__control.budget{
                position: relative;
                width: 40%;
                input{
                    display: inline-block;
                    width: 100%;
                }
            }
            &__inputarea__field__control-yen{
                display: inline-block;
                position: absolute;
                bottom: 0px;
                right: -25px;
            }
            // 資料
            &__filearea {
                padding: 20px 30px 30px;
                background: #fff;
                box-shadow: 0 2px 6px rgba(0,0,0,0.04);
                .uplaod{
                    font-size: 18px;
                    color: #4D4F5C;
                    font-family: 'Source Sans Pro';
                }
            }
        }    
    }
}
.partner-container{
    width: 100%;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
    &__title{
        font-weight: bold;
        font-size: 18px;
        color: #4D4F5C;
        font-family: 'Source Sans Pro';
        margin-bottom: 25px;
    }
    &__wrpper{
        &__item-container.fee{
            margin-bottom: 20px;
        }
        &__item-container.price{
            border-top: 1px solid #F1F1F3;
            padding-top: 25px;
            .item-name-wrapper{
                padding-right:0;
            }
        }
        &__item-container{
            margin-bottom: 30px;
            display: flex;
            // 発注単価・件数
            &__order{
                display: flex;
                &-uninum{
                    display: flex;
                    // 発注単位
                    &__unit__contents{
                        position: relative;
                        height: 48px;
                        input{
                            display: inline-block;
                            height: 48px;
                            width: 200px;
                            box-shadow: none;
                            border-radius: 2px;
                            border: 1px solid #E9E9F0;
                        }
                        &__class{
                            display: inline-block;
                            position: absolute;
                            bottom: 0px;
                            right: -25px;
                        }
                    }
                    // 件数
                    &__number__contents{
                        position: relative;
                        height: 48px;
                        input{
                            display: inline-block;
                            height: 48px;
                            width: 200px;
                            box-shadow: none;
                            border-radius: 2px;
                            border: 1px solid #E9E9F0;
                        }
                        &__class{
                            display: inline-block;
                            position: absolute;
                            bottom: 0px;
                            right: -25px;
                        }
                    }
                }
            }
            .price-item{
                text-align: right;
                width: 100%;
                p{
                    font-size: 30px;
                    color: #43425D;
                    font-family: 'Source Sans Pro';
                    margin-bottom: 0;
                    span.tax{
                        font-size: 14px;
                        font-weight: bold;
                        padding-right: 5px;
                    }
                    span.yen{
                        font-size: 20px;
                        padding-right: 4px;
                    }
                }
            }
        }
        &__item-container.order__unit-number{
            display: block;
        }
    }
}
// 報酬形式
.fee-container__control{
    label {
        margin-right: 20px;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 15px;
        .title{
          font-size: 15px; 
          font-weight: 400; 
        }
        .radio01-input {
            display: none;
        }
        .radio01-parts {
            padding-left: 20px;
            position: relative;
            margin-right: 20px;
            line-height: 1;
        }
        .radio01-input:checked + .radio01-parts {
            color: #009a9a;
        }
        .radio01-parts::before {
            content: "";
            display: block;
            position: absolute;
            top: -10px;
            left: 10px;
            width: 32px;
            height: 32px;
            border: 1px solid #E9E9F0;
            border-radius: 50%;
        }
        .radio01-input:checked + .radio01-parts::after {
            content: "";
            display: block;
            position: absolute;
            top: -2px;
            left: 18px;
            width: 16px;
            height: 16px;
            background: #00CC47;
            border-radius: 50%;
        }
        .radio01-parts.date::before{
            left: 8px;
        }
        .radio01-input:checked + .radio01-parts.date::after{
            left: 16px;
        }
    }
}





  
.side-container {
        width: 100%;
        margin-top: 30px;
    &__wrapper {
        // テンプレート
        &__template-container {
            background-color: #ffffff;
            padding: 16px 16px 32px;
            margin-bottom: 24px;
            &__wrapper {
                
            }
        }
        // 契約内容
        &__agreement-container {     
            background-color: #ffffff;
            padding: 16px 16px 32px;
            &__wrapper {
                // 報酬形式
                &__fee-container {
                    margin-bottom: 24px;
                    &__name {
                        padding: 8px 0;
                    }
                    &__control {
                        display: flex;
                        justify-content: space-evenly;
                        &__textarea {
                            border-color: #808495;
                            resize: none;
                        }
                    }
                }
                // 発注額
                &__order-container {
                    &__content {
                        padding: 8px;
                        margin-bottom: 24px;
                        &__inputitem {
                            margin-bottom: 8px;
                            display: flex;
                            &__class {
                                margin-left: 8px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        &__hr {
                            width: 95%;
                            margin: 16px auto;
                            border-bottom: 1px solid #F1F1F3;
                        }
                        &__item-wrapper {
                            &__item {
                                margin-bottom: 8px;
                                display: flex;
                                &__item-amount {
                                    margin-left: auto;
                                }
                            }
                        }
                    }   
                }
            }
        }
    }
}

.button-wrapper{
    text-align: center;
    margin-top: 60px;
    &__btn{
        width: 140px;
        border-radius: 100px;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        background: #43425D;
    }
    &__btn:hover{
        opacity:0.8;
        color: #fff;
    }
}

//作成確認用モーダル
.p-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  &.is-open {
    visibility: visible;
    opacity: 1;
    z-index: 100;
  }
}

.modal-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
    &__wrapper{
        display: table-cell;
        vertical-align: middle;
        &__container{
            width: 560px;
            margin: 0px auto;
            padding: 20px 30px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
            transition: all .3s ease;
            &__title{
                font-weight:bold;
                font-size:24px;
                margin-bottom:24px;
                text-align: center;
            }
            &__row{
                display:flex;
                margin-bottom:8px;
                &__item{
                    font-size:16px;
                    width:160px;
                }
                &__content{
                    font-size:16px;
                }
            }
            &__button-wrapper{
                text-align: center;
                &__ng-btn{
                    width:140px;
                    border-radius: 18px;
                    color:#fff;
                    font-weight:bold;
                    background: rgb(110, 110, 110);
                    margin-top: 32px;
                }
                &__ok-btn{
                    width:140px;
                    border-radius: 18px;
                    color:#fff;
                    font-weight:bold;
                    background: #43425D;
                    margin-top: 32px;
                }
                &__btn:hover{
                    opacity:0.8;
                }
            }
            .close{
                margin-bottom:16px;
                font-size: 24px;
            }

            &__register{
                color:#31B404;
                font-weight: bold;
                font-size:24px;
            }
            &__item{
                color:red;
                font-size:16px;
                margin-bottom:4px;
            }
            &__uninput{
                text-align: center;
                margin-bottom:24px;
                font-weight: bold;
                font-size:24px;
            }
        }
    }
}
