.main__container {
    width: 100%;
    margin: auto;
    background-color: #f0f0f7;
    font-size: 14px;
    &__wrapper {
        padding: 40px 40px;
    }
}

// 共通部分
.comment-container {
    padding: 40px;
    p {
        color: #ff0031;
        font-weight: bold;
        font-size: 16px;
    }
}
.page-title-container {
    margin-bottom: 28px;
    &__page-title {
        font-size: 28px;
        font-weight: bold;
    }
}

// top部分
.top {
    display: flex;
    justify-content: space-between;
    .button-wrapper {
        &__btn {
            width: 140px;
            height: 35px;
            margin-top: 5px;
            border-radius: 100px;
            color: #fff;
            font-weight: bold;
            background: #43425d;
        }
    }
}

.item-name-wrapper {
    width: 22%;
    display: table;
    height: 48px;
    padding-right: 30px;
    .item-name {
        margin-bottom: 8px;
        vertical-align: middle;
        display: table-cell;
        color: #43425d;
        font-size: 15px;
        font-weight: bold;
        font-family: "Source Sans Pro";
        text-align: right;
        span.tax {
            font-size: 12px;
            margin-left: -5px;
        }
    }
    .item-name.document {
        vertical-align: top;
    }
}
.item-name-wrapper.unitname {
    padding-right: 23px;
}

// タスク内容
.item-name-wrapper.contentsname {
    height: 120px;
}
// プロジェクト期間
.item-name-wrapper.period {
    height: 170px;
}

.item-name-wrapper.numbername {
    width: 100%;
    margin-left: 74px;
}

// プロジェクトを選択する エリア
.select-container {
    margin-bottom: 24px;
    &__wrapper {
        padding: 22px 40px;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
        display: flex;
        .select-textarea {
            display: table;
            height: 48px;
            padding-right: 10px;
            .select-text {
                vertical-align: middle;
                display: table-cell;
                color: #43425d;
                font-size: 15px;
                font-weight: bold;
                font-family: "Source Sans Pro";
            }
        }
    }
}
.select-area.staff {
    width: 66%;
}
.select-area {
    width: 70%;
    .select-wrp select {
        width: 100%;
        height: 48px;
        border-radius: 2px;
        border-color: #3b86ff;
    }
}
.select.is-info select {
    border-color: #e9e9f0;
}
.select:not(.is-multiple) {
    height: 48px;
    width: 100%;
}
.select.is-info:not(:hover)::after {
    border-color: #a4afb7;
}
.select-error-wrp {
    width: 66%;
    .select-area.control {
        width: 100%;
    }
}
.form-control.is-invalid {
    border-color: #e9e9f0;
    background-image: none;
}

#inputPrice {
    text-align: right;
}

.main-container {
    width: 100%;
    margin-bottom: 60px;
    &__wrapper {
        background-color: #ffffff;
        padding: 40px 16px 1px;
        border-radius: 4px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
        .item-container {
            margin-bottom: 30px;
            display: flex;
            // タスク名
            .inputarea {
                width: 66%;
                .input-control input {
                    box-shadow: none;
                    border-radius: 2px;
                    border: 1px solid #e9e9f0;
                    height: 48px;
                }
            }
            // タスク作成日
            .cre-datewrapper {
                display: table;
                height: 48px;
                .cre-date {
                    vertical-align: middle;
                    display: table-cell;
                    font-size: 18px;
                    color: #4d4f5c;
                    font-family: "Source Sans Pro";
                    i {
                        color: #a5a4bf;
                        padding-left: 16px;
                    }
                }
            }
            // タスク内容
            .textarea-wrp {
                height: 120px;
                width: 66%;
            }
            .textarea-wrp textarea {
                border-radius: 2px;
                border: 1px solid #e9e9f0;
                box-shadow: none;
                resize: none;
            }
            // タスク期間
            .calendar-item {
                display: block;
                .calendar-name {
                    font-size: 18px;
                    margin-bottom: 3px;
                    i {
                        color: #a5a4bf;
                        padding-left: 26px;
                    }
                }
                .calendar-name.start {
                    padding-right: 180px;
                }
            }
            .calendar-item.end {
                margin-top: 12px;
            }

            // 予算
            .input-control.budget {
                position: relative;
                width: 40%;
                input {
                    display: inline-block;
                    width: 100%;
                }
            }
            .input-yen {
                display: inline-block;
                position: absolute;
                bottom: 0px;
                right: -25px;
            }
            // 資料
            .filearea {
                padding: 20px 30px 30px;
                background: #fff;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
                .uplaod {
                    font-size: 18px;
                    color: #4d4f5c;
                    font-family: "Source Sans Pro";
                }
            }
        }
    }
}
.partner-container {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
    &__title {
        font-weight: bold;
        font-size: 18px;
        color: #4d4f5c;
        font-family: "Source Sans Pro";
        margin-bottom: 25px;
    }
    &__wrpper {
        .item-container.fee {
            margin-bottom: 20px;
        }
        .item-container.price {
            border-top: 1px solid #f1f1f3;
            padding-top: 25px;
            .item-name-wrapper {
                padding-right: 0;
            }
        }
        .item-container {
            margin-bottom: 30px;
            display: flex;
            // 発注単価・件数
            .order-wrp {
                display: flex;
                .unit-num {
                    display: flex;
                    .unit-num_contents {
                        position: relative;
                        height: 48px;
                        input {
                            display: inline-block;
                            height: 48px;
                            width: 200px;
                            box-shadow: none;
                            border-radius: 2px;
                            border: 1px solid #e9e9f0;
                        }
                        .aux-text {
                            display: inline-block;
                            position: absolute;
                            bottom: 0px;
                            right: -25px;
                        }
                    }
                }
            }
            .price-item {
                text-align: right;
                width: 100%;
                p {
                    font-size: 30px;
                    color: #43425d;
                    font-family: "Source Sans Pro";
                    margin-bottom: 0;
                    span.tax {
                        font-size: 14px;
                        font-weight: bold;
                        padding-right: 5px;
                    }
                    span.yen {
                        font-size: 20px;
                        padding-right: 4px;
                    }
                }
            }
        }
        .item-container.order__unit-number {
            display: block;
        }
    }
}
// 報酬形式
.fee-container__control {
    label {
        margin-right: 20px;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 15px;
        .title {
            font-size: 15px;
            font-weight: 400;
        }
        .radio01-input {
            display: none;
        }
        .radio01-parts {
            padding-left: 20px;
            position: relative;
            margin-right: 20px;
            line-height: 1;
        }
        .radio01-input:checked + .radio01-parts {
            color: #009a9a;
        }
        .radio01-parts::before {
            content: "";
            display: block;
            position: absolute;
            top: -10px;
            left: 10px;
            width: 32px;
            height: 32px;
            border: 1px solid #e9e9f0;
            border-radius: 50%;
        }
        .radio01-input:checked + .radio01-parts::after {
            content: "";
            display: block;
            position: absolute;
            top: -2px;
            left: 18px;
            width: 16px;
            height: 16px;
            background: #00cc47;
            border-radius: 50%;
        }
        .radio01-parts.date::before {
            left: 8px;
        }
        .radio01-input:checked + .radio01-parts.date::after {
            left: 16px;
        }
    }
}